@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'corporate-custom';
    default: true;
    color-scheme: 'light';
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(60% 0.126 221.723);
    --color-primary-content: oklch(98% 0.019 200.873);
    --color-secondary: oklch(59% 0.145 163.225);
    --color-secondary-content: oklch(97% 0.021 166.113);
    --color-accent: oklch(60% 0.118 184.704);
    --color-accent-content: oklch(98% 0.014 180.72);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: 'business-custom';
    default: false;
    color-scheme: 'dark';
    --color-base-100: oklch(25% 0.005 285.823);
    --color-base-200: oklch(30% 0.006 285.9);
    --color-base-300: oklch(36% 0.007 286);
    --color-base-content: oklch(94% 0.001 0);

    --color-primary: oklch(68% 0.126 221.723);
    --color-primary-content: oklch(12% 0.005 221.7);

    --color-secondary: oklch(70% 0.145 163.225);
    --color-secondary-content: oklch(12% 0.004 163.2);

    --color-accent: oklch(66% 0.118 184.704);
    --color-accent-content: oklch(10% 0.003 180.7);

    --color-neutral: oklch(32% 0.01 285.8);
    --color-neutral-content: oklch(94% 0 0);

    --color-info: oklch(73% 0.158 241.966);
    --color-info-content: oklch(12% 0.004 240);

    --color-success: oklch(76% 0.194 149.214);
    --color-success-content: oklch(14% 0.005 149);

    --color-warning: oklch(78% 0.162 75.834);
    --color-warning-content: oklch(15% 0.004 75);

    --color-error: oklch(70% 0.245 27.325);
    --color-error-content: oklch(10% 0.005 27);

    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('/fonts/VictorMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html,
body {
    scrollbar-gutter: stable;
    font-family: 'Victor Mono', monospace;
}

.blurred {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

body,
* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 80px;
    height: 80px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
}
