@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: dim --default;
}

@font-face {
	font-family: 'victor-mono';
	src: url('/fonts/VictorMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'IBM Plex Mono';
}
